body {

}

.clearfix{clear: both}

/********************* Start Container *******************/
.container {
    width: 1170px;
    margin: auto;
}

/********************* End Container *******************/


/********************* Start Header *******************/

.header .slider {
    background-image: url(../image/slider.jpg);
    height: 575px;
    background-size: cover;
}

.header .slider .intro {
    padding-top: 385px;
    text-align: center;
    color: #222831;
}

.header .slider .intro h2 {
    margin: 0 auto;
    border-bottom: 3px solid #ff931e;
    border-top: 3px solid #ff931e;
    width: 400px;
    height: 40px;
    text-align: center;
    font-size: 30px;
}

.header .slider .intro button {
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: #222831;
    background-color: rgba(255,147,30,0.5);
    padding: 8px 35px;
    margin-top: 20px;
    border: 3px solid #ff931e;
    
}

.header .slider .intro button:hover {
    background-color: #ff931e;
    color: white;
    cursor: pointer;
}

.header .navbar {
    background-color: #222831;
    color: #FFF;
    overflow: hidden;
    height: 68px;
}

.header .navbar .container .logo h2 span {
    color: #ff931e;
}

.header .navbar .container .logo h2 {
    float: left;
    border: 2px solid #ff931e;
    padding: 2px 10px ;
    margin-top: 15px;
}


.header .navbar .container .logo h2 a {
    text-decoration: none;
    color: white;
}

.header .navbar .container ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    float: right;
    overflow: hidden;
    font-size: 18px;
}

.header .navbar .container ul li {
    float: left;
    padding: 10px;
}

.header .navbar .container ul li.active {
    border-bottom: 3px;
    border-bottom-style: solid;
    color: #ff931e;
    padding-bottom: 5px;
}

.header .navbar .container ul li a {
    text-decoration: none;
    color: aliceblue;
}

.header .navbar .container ul li a:hover {
    border-bottom: 3px;
    border-bottom-style: solid;
    color: #ff931e;
    padding-bottom: 5px;
}

/********************* End  Header *******************/

/********************* Start Features *******************/

.features {
    overflow: hidden;
    padding: 40px 0 80px 0;
}

.features .feat {
    float: left;
    width: 33.33333%;
    height: 150px;
}

.features .feat h2 {
    color: #444;
    border-bottom: 3px solid #ff931e;
    width: 100px;
    
}


.features .feat p {
    line-height: 1.5;
    color: #888;
    text-align: justify;
    padding-right: 30px;
    
}

/********************* End   Features *******************/


/********************* Start About Me *******************/

.about-me {
    background-color: #F2F2F2;
    overflow: hidden;
}

.about-me .image {
    float: left;
    width: 40%;
}

.about-me .image img {
    width: 100%;
}

.about-me .info {
    float: left;
    width: 60%;
}

.about-me .info h2 {
    margin: 40px 0 30px 50px;
    color: #444;
    border-bottom: 3px solid #ff931e;
    width: 118px;

}

.about-me .info > p {
    margin: 0 0 30px 50px;
    line-height: 1.5;
    text-align: justify;
    color: #666;
    
}

.about-me .info .hobbies {
    overflow: hidden;
    margin: 20px;
}

.about-me .info .hobbies .content {
    float: left;
    width: 50%;
    min-height: 80px;
    overflow: hidden;
}

.about-me .info .hobbies .content .icon img {
    float: left;
    margin-top: -12px;
    margin-left: 10px;
}

.about-me .info .hobbies .content h3 {
    margin: 4px 0 0 35px;
    color: #444;
}

.about-me .info .hobbies .content p {
    margin: 20px 0 20px 80px;
    line-height: 1.5;
    text-align: justify;
    color: #666;   
    
}



/********************* End   About Me *******************/


/********************* Start My Skills *******************/

.my-skills {
    overflow: hidden;
    padding: 50px 0 50px 0 ;
}

.my-skills .skills,
.my-skills .progress {
    width: 50%;
    float: left;
    
}

.my-skills .skills h2 {
    color: #444;
    margin: 0 0 30px 40px;
    border-bottom: 3px solid #ff931e;
    width: 110px;
}

.my-skills .skills p {
    margin: 0 0 30px 40px;
    color: #666;
    line-height: 1.5;
    text-align: justify;
    
}

.my-skills .skills button {
    background: none;
    border: 3px solid #ff931e;
    padding: 10px 30px;
    color: #ff931e;
    font-weight: bold;
    margin-left: 40px;
    
}

.my-skills .skills button:hover {
    color: white;
    background-color: #ff931e;
    cursor: pointer;
}

.my-skills .progress .tech h3 {
    padding-left: 45px;
    color: #444;
    
}

.my-skills .progress .tech div {
    height: 25px;
    background-color: #F2F2F2;
    margin-left: 45px;
}

.my-skills .progress .tech div span {
    height: 25px;
    background-color: #ff931e;
    display: block;
    color: white;
    text-align: right;
    font-size: 18px;
}

/********************* End   My Skills *******************/


/********************* Start    Resume *******************/

.resume {
    text-align: center;
    background-color: #F2F2F2;
    padding: 30px 0 30px 0 ;
}

.resume h2 {
    color: #444;
    border-bottom: 3px solid #ff931e;
    width: 100px;
    margin: 0 auto;
}

.resume p {
    color: #666;
    line-height: 1.5;
    text-align: justify;
    padding: 20px 0;
    
}

.resume button {
    background: none;
    border: 3px solid #ff931e;
    color: #ff931e;
    padding: 10px 30px;
    font-weight: bold;
}

.resume button:hover {
    background-color: #ff931e;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/********************* End      Resume *******************/


/********************* Start My Education *******************/

.my-education {
    overflow: hidden;
    padding: 30px 0 30px 0 ;
}

.my-education .main-1,
.my-education .main-2{
    width: 50%;
    margin-right: 5%;
    float: left;
    
}

.my-education .main-1 h2 {
    margin: 40px 0 30px 50px;
    color: #444;
    border-bottom: 3px solid #ff931e;
    width: 165px;

}

.my-education .main-2 h2 {
    margin: 40px 0 30px 50px;
    color: #444;
    border-bottom: 3px solid #ff931e;
    width: 205px;
}


.my-education .main-1 > p,
.my-education .main-2 > p {
    margin: 0 0 30px 50px;
    line-height: 1.5;
    text-align: justify;
    color: #666;
    
}

.my-education .exp {
    width: 45%;
    float: left;
}

.my-education .exp h3:first-of-type {
    color: #444;
    margin-top: 105px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ff931e;
    width: 130px;
}

.my-education .exp h3:last-of-type {
    color: #444;
    margin-top: 50px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ff931e;
    width: 130px;
}

.my-education .exp span {
    display: block;
    margin-bottom: 12px;
}
.my-education .exp span:first-of-type {
    color: #999;
}

.my-education .exp span:last-of-type {
    background-color: #ff931e;
    color: white;
    padding: 3px;
    display: inline-block;
}

.my-education .exp hr {
    margin: 20px 0;
    background-color: #ff931e;
    height: 1px;
    border: 0;
}

.my-education .exp p {
    color: #666;
    text-align: justify;
    line-height: 1.5;
    margin: 40px 0 20px 0 ;
}

/********************* End   My Education *******************/


/********************* Start  testemonial *******************/

.testemonial {
    text-align: center;
    background-color: #F2F2F2;
    padding: 40px 0 20px 0 ;
    overflow: hidden;
}

.testemonial .container {
    position: relative;
}

.testemonial q {
    color: #999;
    line-height: 1.5;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    
}

.testemonial h3 {
    color: #444;
}

.testemonial ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    
}

.testemonial ul li {
    height: 11px;
    width: 11px;
    border: 2px solid #ff931e;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    
}

.testemonial ul li.active,
.testemonial ul li:hover {
    background-color: #ff931e;
}


/********************* End   testemonial *******************/


/********************* Start  Portfolio *******************/

.portfolio {
    padding-top: 30px;
    padding-bottom: 80px;
    text-align: center;
}

.portfolio h2 {
    color: #444;
    border-bottom: 3px solid #ff931e;
    width: 110px;
    text-align: center;
    display: inline-block
}

.portfolio p {
    color: #666;
    text-align: center;
    text-align: justify;
    line-height: 1.5;
    width: 1000px;
    margin: 6px auto 40px auto;
}

.portfolio .our-work {
    overflow: hidden;
}

.portfolio .our-work > div {
    float: left;
    width: 33.333333%;
    margin-bottom: 15px;
}

.portfolio .our-work > div img {
    width: 90%;
    margin: 10px;
    padding: 3px;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 7px 7px 7px #CCC;
}

.portfolio .our-work > div img:hover {
    cursor: pointer;
}

/********************* End  Portfolio *******************/


/********************* Start  Contact Me *******************/

.contact {
    background-color: #252F31;
    overflow: hidden;
}

.contact .info {
    width: 46%;
    float: left;
    margin-left: 1.7%
}


.contact h2 {
    color: #FFF;
    border-bottom: 3px solid #ff931e;
    width: 140px;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
}

.contact p {
    color: darkgray;
    text-align: justify;
    line-height: 1.5;
    margin-top: 0;

}

.contact p span {
    color: white;
    font-weight: bold;
}

.contact .form {
    width: 48.3%;
    margin-left: 4%;
    margin-top: 85px;
    float: left;
}

.contact .form label {
    display: block;
    color: white;
    font-weight: bold;
    
}

.contact .form label span {
    color: #ff931e;
}

.contact .form input[type="text"] {
    background-color: #525963;
    color: white;
    padding: 10px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-left: 5px solid #ff931e;
}

.contact .form textarea {
    background-color: #525963;
    color: white;
    padding: 10px;
    height: 115px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-left: 5px solid #ff931e;
}

.contact .form input[type="submit"] {
    background-color: #191E22;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 10px;
    margin-bottom: 20px;
    border-left: 5px solid #ff931e;
    cursor: pointer;
}

/********************* End  Contact Me *******************/


/********************* Start  Footer  *******************/

.footer {
    background-color: #191E22;
    color: darkgray;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
}

.footer p {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: left;
    
}

.footer a {
    text-decoration: none;
    color: darkgray;
}

.footer a:hover {
    color: #ff931e;
}

.footer span {
    float: right;
}

.footer span a {
    text-decoration: none;
    color: darkgray;
}

.footer span a:hover {
    color: #ff931e;
}

/*********************  End   Footer  *******************/



